*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

nav{
  background: #edf9f1;
}

p, ul {
  padding: 10px;
}

ul {
  display: flex;
  list-style: none;
  padding: 20px;
  margin: 20px;
  
}

.list-items a {
  background-color: #d2f2dc;
  color: #047729;
  text-decoration: none;
  padding: 15px 25px;
  border-bottom: 3px solid #313b44;
  border-radius: 15px;
}

.list-items a:hover {
  color: #d2f2dc;
  background-color: #047729;
}

.list-items li {
  margin: 6px;
}

.banner {
  width: 100%;
  height: 200px;
  /*background-image: url("./resources/images/new-images/img2.jpg");*/
  background-image: linear-gradient(120deg, rgb(210 11 240/100%) 35%, rgb(51 56 57/100%) 88%);
  padding: 20px;
  border: 8px solid red;
  border-radius: 40px 20px;
  margin-bottom: 40px;
  color: rgb(239, 234, 234);
  background-clip: border-box;
}

.banner h1, h3{
  color: rgb(48, 222, 135);
  padding: 10px;
}

.main-container{
  font-size: 16px;
  padding: 20px;
  margin: 20px 0px;
  background-image: url("./resources/images/new-images/icon1.png");
  background-repeat: no-repeat;
  /*background-position: center center;*/
  /*background-size: contain;*/
  background-attachment: fixed;
}

.contact-highlight{
  background-color: #c7ccca;
}

.title{
  font-size: 24px;
  color: #33C480;
}

.block{
  /* display: inline; */
  /*display: block; */
  display: inline-block;
}

