.grid-container {
    font-family: 'montserrat', Arial, sans-serif;
    display: grid;
    grid-template-areas:
        'header header header'
        'banner banner banner'
        'main main main'
        'footer footer footer';
    grid-template-columns: 1fr 1fr 200px;
    grid-template-rows: auto auto 1fr auto;
    gap: 0px;
    height: 100vh;
}

.header {
    grid-area: header;
}

.banner {
    grid-area: banner;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 18px;
    margin: 0;
    box-shadow: 1px 1px 11.5px #f988ff;
    /*background-color: #160334;*/
}

.menu ul{
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu ul li{
    list-style: none;
    padding: 4px 9px;
}

.menu ul li a{
    padding: 4px 9px;
    text-decoration: none;
    text-transform: uppercase;
    color: #bc4ed8;
}

.menu ul li a:hover {
    color: #7f00b2;
}

.menu ul li a i:hover {
    color: #7f00b2;
}

.link-holder {
    position: relative;
    color: #7f00b2;
}

.link-holder::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    color: #bc4ed8;
    width: 100%;
    height: 2px;
    background-color: #7f00b2;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.22s ease-out;
}

.link-holder:hover::after {
    cursor: pointer;
    transform: scaleX(1);
}

.banner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-image: url("../resources/images/banner_01.webp");
    background-size: cover;
    background-position: 0 -52px;
    background-repeat: no-repeat;
    text-align: center;
    padding: 20px 0px;
    position: relative;
}

.banner::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.banner h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    font-weight: 700;
    color: beige;
    text-shadow: 2.5px 2.5px 5px #bc4ed8;
}

.banner p {
    font-size: 1.3rem;
    color: rgb(243, 243, 229);
}

.main-banner {
    position: relative;
    z-index: 2;
}

.outter_course_description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 26px 90px 0px 90px;
}

.outter_course_description h1::after {
    content: "";
    position: absolute;
    bottom: 82px;
    left: 50%;
    width: 15%;
    height: 2px;
    justify-content: center;
    align-items: center;
    background-color: #7f00b2;
    transform: translateX(-50%);

}

.outter_course_description p {
    text-align: justify;
}

.area_description {
    display: flex;
    margin: 20px;
}

.area_image {
    border: 2.8px solid #e3e3e4;
    border-radius: 10px;
    padding: 5.3px;
    margin: 10px;
    box-shadow: 3px 3px 8px #e7e7e7, 1.2px 1.2px 8px #e6e5e5;
}

.area_image img {
    border-radius: 5px;
}

.description_paragraph p {
    text-align: justify;
    color: #676769;
    line-height: 1.6em;
    font-size: 14px;
}

.contacts_and_forms {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.outter_contact_area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 120px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 15px;
    margin-bottom: 5.5px;
    font-weight: bold;
    font-size: 1em;
    color: #4d4d4d;
}

input, select, textarea {
    padding: 7.5px;
    margin-top: 6px;
    border-radius: 7.2px;
    border: 1px solid #252525;
    height: 0.8em;
}

/*input:hover, textarea:hover{
    padding: 7.5px;
    margin-top: 6px;
    border-radius: 7.2px;
    border: 1px solid #080808;
    height: 0.8em;
}*/

#message {
    height: 2em;
}

form div {
    display: flex;
    flex-direction: column;
}

.contacts_list {
    font-family: 'montserrat', Arial, sans-serif;
    width: 50%;
    margin: 20px;
}

.contacts_list i {
    margin: 0px 7px;
    color: #414141;
}

.contacts_list li {
    margin: 40px 0;
    padding: 4.5px;
    gap: 7.12px;
    font-weight: bold;
    font-size: 1.2em;
    color: #5f5f5f;
    letter-spacing: 0.35px;
}

.contacts_list li:hover {
    background-color: #eeeeee;
    border-radius: 5px;
    cursor: default;
}

.forms_area {
    width: 40%;
}

.button button {
    height: 35px;
    border-radius: 7.2px;
    background-color: #afbdeb;
}

.button button:hover {
    cursor: pointer;
    background-color: #96a8e2;
}

.timetable {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.horario {
    margin-top: 20px;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 18px 50px;
    text-align: center;
    vertical-align: middle;
    border: 1.2px solid rgb(199, 199, 199);
}

th {
    background-color: #96a8e2;
    color: rgb(75, 75, 75);
}

td {
    background-color: #f5f5f5;
    color: #7e7e7e;
}

tbody tr:nth-child(even) {
    background-color: #d1d1d1;
}

.outter_modules_cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modules_cards h2::after {
    content: "";
    position: absolute;
    bottom: 82px;
    left: 50%;
    width: 15%;
    height: 2px;
    justify-content: center;
    align-items: center;
    background-color: #7f00b2;
    transform: translateX(-50%);
}

.modules_cards h2 {
    text-align: center;
    font-size: 2.15rem;
}

.cards {
    display: flex;
    margin: 30px;
    width: 100%;
    justify-content: center;
}

.card {
    width: 100%;
    text-align: center;
    background-color: #fbeefff6;
    margin: 2px 15px;
    width: 225px;
    height: 305px;
    border: 1.95px solid #7f00b2;
    border-radius: 7.8px;
}

.card img {
    height: 170px;
    width: 225px;
    border-radius: 5px;
}

.card p {
    position: relative;
    top: -30px;
}

.card h5, p {
    color: #0f0114;
}

.card_title {
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.card_title h5 {
    font-size: 16px;
    position: relative;
    top: -20px;
}

.card_description {
        height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}